config =
  trello:
    api: 'https://api.trello.com/1'
    key: 'your trello key'
    token: 'your trello token'
    urls:
      lists: ":api/boards/:id?members=all&lists=all&key=:key&token=:token"
      cards: ":api/boards/:id/cards/?fields=idShort,shortLink&key=:key&token=:token"
      card: ":api/cards/:id/actions/comments?key=:key&token=:token"
      moveCard: ":api/cards/:id?key=:key&token=:token"
  github:
    api: 'https://api.github.com'
    token: 'your github token'
  projects: [
    {
      name: 'github project name'
      boardId: 'id board on trello'
    }
  ]

