config =
  trello:
    api: 'https://api.trello.com/1'
    key: 'your trello key'
    token: 'your trello token'
  projects: [
    {
      github: 'github project name'
      trello: 'id board on trello'
    }
  ]

